.device-icon {
  width: 20px;
  height: 20px;
}

.check-icon {
  margin-right: calc(var(--space) / 2);
  visibility: hidden;
  width: 14px;
}

.check-icon.checked {
  visibility: visible;
}

.blank-check-item>div {
  padding-left: 14px;
}
